.hero{
    position: relative;
    height: 100vh;
    background:url("C:/Users/Santh/OneDrive/Desktop/frontend projects/Gym_website/Gym-website/gym-hero.webp") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-section::before{
    content: '';
    position: absolute;
    inset: 0; 
    background:radial-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.8));
}

.hero-overlay{
    position: relative;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    animation: fadeIn 2s ease-in-out;
}

.hero-title{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 800;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 25px rgba(255, 102, 0, 0.8);
    animation: floatText 3s ease-in-out infinite;
}

.hero-title span{
    color: #ff6600;
    text-shadow: 0 0 30px #ff6600;
}

.hero-subtitle{
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.btn-primary, .btn-secondary{
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background: #ff6600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.7);
    transition: background 0.3s ease;
    margin: 20px;
}

.btn-secondary :hover{
    background: transparent;
    border: 2px solid #ff6600;
    transform: scale(1.2rem);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floatText {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .btn-primary, .btn-secondary {
        padding: 12px 25px;
        font-size: 0.9rem;
    }

    .nav-links{
        display: none;
    }

    .hero{
        font-size: 2rem;
    }
}