.programs {
    padding: 130px 8%;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 50px;
    color: #333;
}
.program-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
}

.program-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.program-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.program-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff6600;
}

.program-description {
    font-size: 16px;
    color: #666;
}